*{
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    background: url(./images/paper.jpg) left top repeat;
}
header {
    background: url(./images/disabled_boy.jpg) left top no-repeat, 
    url(./images/disabled_children.jpg) center no-repeat, 
    url(./images/disabled_girl.jpg) right top no-repeat;
    background-size: 620px, 700px, 620px;
    height: 20em;
}
header nav {
    margin: 0;
    padding: 0;
    background: skyblue;
    position: fixed;
    top: 0;
    width: 100%;
}
a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right:1px solid #bbb;
} 
header nav a.active {
    background-color: #04AA6D;
    color: white;
}
header nav a:hover:not(.active) {
    background-color: #555;
    color: white;
}
header h1 {
    padding-top:200px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size:40px;
}
section {
    margin: 0;
    padding: 0;
}
article {
    width: 33%; 
    display: inline-block;
}
input[type=submit ] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
    width: 49%;
}
input[type=submit]:hover {
    background-color: #45a047;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
header h4 {
    text-align: center;
    display: inline-block;
    color:#4CAF50;
    font-weight: bold;
}
p {
    padding: 10px 20px;
}
span {
    font-size: 20px;
    text-decoration:underline;
}
div {
    width: 33%; 
    display: inline-block; 
    background: white
}
input[type=text] {
    padding: 12px 20px;
    font-size:large;
    margin-left: 40%;
    display:inline-block
}
section img {
    border-radius: 100px;
    height: 400px;
    width:600px;
    margin-left: 15px;
    filter: contrast(90%);

}
main {
    margin:0;
    padding:0;
}
aside {
    height: 15em;
    background: url(./images/contact.jpg) left repeat;
    background-size:contain;
    border:2px solid black;
}
form {
    margin-top:100px;
}
footer{
    height: 5em;
    background-color:skyblue;
}
footer nav {
    display: inline-block;
    border-right: 1px solid #bbb;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 50px;
}
footer img {
    height: 50px;
    width: 50px;
    filter: contrast(70%);
}
